<!doctype html>
{% load static %}
{% load util_tags %}
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="{% static 'app/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/css/style_login.css' %}" rel="stylesheet">

      <title>Login</title>
  </head>

  <body class="text-center">

    <main class="container">

        <form class="form-signin" method="post">
            {% csrf_token %}

            <h1 class="h3 mb-3 font-weight-normal">Gerenciador de Tarefas</h1>
            <hr>
            <h1 class="h3 mb-3 font-weight-normal">Bem Vindo</h1>
            <hr>
            <label  class="sr-only">Username</label>
            <input type="text"  class="form-control" placeholder="Username" id="id_username" name="username" autocapitalize="none" autocomplete="username" maxlength="150"required autofocus>

            <label class="sr-only">Senha</label>
            <input type="password"  name="password" autocomplete="current-password" class="form-control" id="id_password" placeholder="Senha" required>
              {% for message in messages %}
                <div class="alert alert-danger">
                    {{message}}
                </div>
            {% endfor %}
            <button class="btn btn-lg btn-primary btn-block"  type="submit">Confirmar</button>
            <a class="btn btn-lg btn-primary btn-block" href="{% url 'app:gerenciador:user:cadastrar_user' %}">Cadastrar-se</a>
            <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
        </form>
    </main>
  </body>
</html>