{% extends 'base.html' %}
{% load util_tags %}

{% block content %}
    <h2>Editar Tarefas</h2>
    <form method="POST">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-group">

            {% if field.name == 'data_expiracao' %}
                <label for="id_data_expiracao">Data expiracao:</label>
                <input type="date" name="data_expiracao" value="{{ tarefa.data_expiracao|date:'Y-m-d' }}"  class="form-control" required id="id_data_expiracao">
            {% else %}
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-lg btn-block" >Salvar</button>
    </form>
{% endblock %}