{% extends 'base.html' %}

{% block content %}
     {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                {{message}}
            </div>
        {% else %}
            <div class="alert alert-success">
                {{message}}
            </div>
        {% endif %}

     {% endfor %}
    <h3 class="mb-3">Listar Tarefas</h3>

    {% for tarefa in tarefas %}

    <div class="card mb-3">

        <div class="card-header">
             <div class="d-flex bd-highlight">
                 <div class="mr-auto bd-highlight">{{tarefa.titulo}}</div>
                 <div class="bd-highlight">DATA DE EXPIRAÇÃO: {{ tarefa.data_expiracao|date:'d/m/Y' }}</div>
             </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Prioridade: {{tarefa.get_prioridade_display}}</h5>
            <p class="card-text">{{tarefa.descricao}}</p>
            <hr>
            <a href="{% url 'app:gerenciador:tarefa:atualizar_tarefa' tarefa.id %}"><input type="button" class="btn btn-primary btn-sm mb-3" value="Alterar Tarefa"></a>
            <a href="{% url 'app:gerenciador:tarefa:remover_tarefa' tarefa.id %}"><input type="button" class="btn btn-primary btn-sm mb-3" value="Remover Tarefa"></a>
        </div>
    </div>

    {% endfor %}

    <a href="{% url 'app:gerenciador:tarefa:cadastrar_tarefa' %}"><input type="button" class="btn btn-primary mb-3" value="Cadastrar Tarefa"></a>



{% endblock %}