<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}"/>

    <title>Gerenciador de Tarefas</title>
</head>

<body>
    <header >
        <nav class="navbar navbar-light bg-light">
            {%if user.is_authenticated %}
                <a class="navbar-brand" href="{% url 'app:gerenciador:tarefa:listar_tarefas' %}">Gerenciador de Tarefas</a>
                <a class="nav-item nav-link active" href="{% url 'app:gerenciador:tarefa:listar_tarefas' %}">HOME</a>
                <a class="nav-item nav-link active" href="{% url 'app:logout' %}">LOG OUT</a>
            {% else %}
                <a class="nav-item nav-link active" href="{% url 'app:login' %}">LOG IN</a>
            {% endif %}
        </nav>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>